Dockerfile
startVault.sh
docker-compose.yaml
.DS_Store

api/data.db
api/Mailer.js
api/node_modules/
api/package-lock.json
api/.env
api/Dockerfile
api/apiStart.sh

client/node_modules/
client/package-lock.json
client/readme.md
client/Dockerfile
client/build/
client/startClient.sh
client/.env
client/testing.js
